<footer id="footer">
  <footer-top role="navigation">
    <nav-block>
      <picture>
        <source srcset='images/favicon.svg' media='(max-width: 1240px)' />
        <img src='images/logo.svg' loading='lazy' alt='logo' />
      </picture>
      <socials-block class="grid">
        <a href='#' target='_blank' rel='noopener noreferrer' title='Instagram'>
          <img src='images/icons/Instagram.svg' alt='' />
        </a>
        <a href='#' target='_blank' rel='noopener noreferrer' title='Facebook'>
          <img src='images/icons/Facebook.svg' alt='' />
        </a>
        <a href='#' target='_blank' rel='noopener noreferrer' title='Twitter'>
          <img src='images/icons/Twitter.svg' alt='' />
        </a>
        <a href='#' target='_blank' rel='noopener noreferrer' title='LinkedIn'>
          <img src='images/icons/Linked-In.svg' alt='' />
        </a>
      </socials-block>
    </nav-block>
    <nav-block>
      <strong> Product </strong>
      <ul>
        <li>
          <a href='#'> Service </a>
        </li>
        <li>
          <a href='#'> FAQ </a>
        </li>
        <li>
          <a href='#'> Single Service </a>
        </li>
        <li>
          <a href='#'> Get Quote </a>
        </li>
        <li>
          <a href='#'> Prices </a>
        </li>
      </ul>
    </nav-block>
    <nav-block>
      <strong> Company </strong>
      <ul>
        <li>
          <a href='#'> About </a>
        </li>
        <li>
          <a href='#'> News </a>
        </li>
        <li>
          <a href='#'> Contacts </a>
        </li>
        <li>
          <a href='#'> Testimonials </a>
        </li>
        <li>
          <a href='#'> Our team </a>
        </li>
        <li>
          <a href='#'> Our approach </a>
        </li>
      </ul>
    </nav-block>
    <nav-block>
      <strong> Address </strong>
      <address> 1700 W Blancke St, kiyev port south USA, America </address>
      <button class="white" type='button'> Book an Appoinment </button>
    </nav-block>
  </footer-top>
  <footer-bottom>
    <small> ©2022 Consultalk. All rights reserved </small>
    <small>
      <a href='#' target='_blank' rel='noopener noreferrer'> Terms of Service </a>
    </small>
    <small>
      <a href='#' target='_blank' rel='noopener noreferrer'> Privacy Policy </a>
    </small>
  </footer-bottom>
</footer>