<header id="header">
  <header-top>
    <address> Monday - Friday 8AM - 9PM </address>
    <address> 725 Park Ave, New York </address>
    <socials-block>
      <a href="#" target="_self" rel="noreferrer" title="Instagram">
        <img src="images/icons/Instagram.svg" alt="" />
      </a>
      <a href="#" target="_self" rel="noreferrer" title="Facebook">
        <img src="images/icons/Facebook.svg" alt="" />
      </a>
      <a href="#" target="_self" rel="noreferrer" title="Twitter">
        <img src="images/icons/Twitter.svg" alt="" />
      </a>
      <a href="#" target="_self" rel="noreferrer" title="LinkedIn">
        <img src="images/icons/Linked-In.svg" alt="" />
      </a>
    </socials-block>
  </header-top>
  <header-bottom>
    <picture>
      <source srcset="images/favicon.svg" media="(max-width: 1240px)" />
      <img src="images/logo.svg" alt="logo" />
    </picture>
    <nav>
      <ul>
        <li>
          <a class="active" target='_self' rel='noopener' href='./index.html'> Home </a>
        </li>
        <li>
          <a target='_self' rel='noopener' href='./about.html'> About </a>
        </li>
        <li>
          <a target="_self" rel="noopener" href="./services.html"> Services </a>
        </li>
        <li>
          <a target="_self" rel="noopener" href="./Team.html"> Team </a>
        </li>
        <li>
          <a target="_self" rel="noopener" href="./Pages.html"> Pages </a>
        </li>
        <li>
          <a target="_self" rel="noopener" href="./contact.html"> Contact </a>
        </li>
      </ul>
    </nav>
    <a href='tel:+8884521505'>
      <span> + (888) 452 1505 </span>
    </a>
    <button id="burgerButton" data-open-dialog-id="burger-menu" type='button' title='Open the burger menu'>
      <svg width="40" height="30" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
        <rect class="rectTop" width="40" height="3" x="0%" y="0%" fill="gray">
        </rect>
        <rect class="rectCenter" width="40" height="3" x="0%" y="45%" fill="gray">
        </rect>
        <rect class="rectBottom" width="40" height="3" x="0%" y="90%" fill="gray">
        </rect>
      </svg>
    </button>
    <dialog id="burger-menu" data-modal-dialog>
      <nav>
        <button data-close-dialog-id="burger-menu" type='button' title='Close the burger menu'>
          <svg width="40" height="30" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <rect class="rectTop" width="40" height="3" x="0%" y="0%" fill="gray">
            </rect>
            <rect class="rectCenter" width="40" height="3" x="0%" y="45%" fill="gray">
            </rect>
            <rect class="rectBottom" width="40" height="3" x="0%" y="90%" fill="gray">
            </rect>
          </svg>
        </button>
        <ul>
          <li>
            <address> Monday - Friday 8AM - 9PM </address>
          </li>
          <li>
            <address> 725 Park Ave, New York </address>
          </li>
          <li>
            <a class="active" target="_self" rel="noopener" href="#"> Home </a>
          </li>
          <li>
            <a target="_self" rel="noopener" href="./about.html"> About </a>
          </li>
          <li>
            <a target="_self" rel="noopener" href="./services.html"> Services </a>
          </li>
          <li>
            <a target="_self" rel="noopener" href="./Team.html"> Team </a>
          </li>
          <li>
            <a target="_self" rel="noopener" href="#"> Pages </a>
          </li>
          <li>
            <a target="_self" rel="noopener" href="./contact.html"> Contact </a>
          </li>
        </ul>
      </nav>
    </dialog>
  </header-bottom>
</header>